[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/codemirror/CodeMirror
	branch = master
[submodule "KaTeX"]
	path = KaTeX
	url = https://github.com/Khan/KaTeX
[submodule "version.js"]
	path = version.js
	url = https://github.com/jstayton/version.js
